<h1>Список гостей</h1>

<table id="guests" class="common_table">
  <thead>
  <tr>
    <th class="guest-list-number" rowspan="2">№</th>
    <th class="guest-list-full-name-header" colspan="3">Полное имя гостя</th>
    <th class="guest-list-city-header" rowspan="2"><%= sortable 'city', 'Город' %></th>
    <th class="guest-list-status-header" rowspan="2">
      <span title="Статусы нужны для списка гостей на каравай" rel="tooltip">Статус</span></th>
  </tr>
  <tr>
    <th class="guest-list-name-header"><%= sortable 'last_name', 'Фамилия' %></th>
    <th class="guest-list-second-name-header">Имя</th>
    <th class="guest-list-middle-name-header">Отчество</th>
  </tr>
  </thead>
  <tbody>
    <%= render @guests %>
  </tbody>
</table>

<%= link_to raw('<i class="icon-white icon-plus"></i> Добавить гостя'), new_guest_path, class: 'btn btn-success', id: 'add-guest', remote: true %>