@import "seating/seating-panel-chair";
.seating-panel {

}

.seating-panel-tables {

}

.seating-number {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -4px;
  color: white;
}

.seating-small-table {
  width: 50px;
  height: 15px;
  background: red;
  padding: 0;
  margin: 0;
}

.seating-table {
  @extend .seating-small-table;
  position: absolute !important;
  top: 0px;
  left: 0px;
  .seating-table-number {
    @extend .seating-number;
  }
  &.active {
    width: 200px;
    height: 100px;
    background: green;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
  }
}

.seating-area {
  width: 80%;
  height: 500px;
  float: right;
  background: url("square.png") repeat;
  position: relative;
}

#seating-quests-panel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  float: left;
  width: 20%;
  li {
    margin: 5px;
    padding: 5px;
  }
}

.seating-quest-icon {
  z-index: 5;

}

.ui-draggable{
  cursor: move;
}
