<div class="seating-panel">
    <div class="seating-panel-tables">
        <div class="seating-panel-table ui-widget-content" id="seating-panel-rectangle-table">
        </div>
    </div>
</div>

<div class="seating-area">

</div>