<div class="seating-panel">
    <div class="seating-panel-tables">

    </div>
</div>

<div class="seating-area">

</div>

<div id="seating-panel">
    <ul id="seating-quests-panel" ng-controller="GuestsCtrl">
        <li ng-repeat="guest in guests" class="ui-state-default">
            <i class="seating-quest-icon icon-user" data-guest-name="{{ guest.last_name }} {{ guest.first_name }}"
               data-guest-id="{{ guest.id }}"></i>
            {{ guest.last_name }} {{ guest.first_name }}
        </li>
    </ul>
</div>