<div class="seating-panel">
    <div class="seating-panel-tables">

    </div>
</div>

<div class="seating-area">

</div>

<ul id="seating-quests-panel">
    <li class="ui-state-default"><i class="seating-quest-icon icon-user"></i>Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
</ul>