<div class="seating-panel">
    <div class="seating-panel-tables">

    </div>
</div>

<div class="seating-area">

</div>

<ul id="seating-quests-panel">
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Рудько Мария Сергеевна"></i>Рудько Мария Сергеевна</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Синкевич Алексей Викторович"></i>Синкевич Алексей Викторович</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Мисан Андрей Викторович"></i>Мисан Андрей Викторович</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Рудько Екатерина Сергеевна"></i>Рудько Екатерина Сергеевна</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Синкевич Ольга Борисовна"></i>Синкевич Ольга Борисовна</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Синкевич Виктор Семенович"></i>Синкевич Виктор Семенович</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Рудько Елена Владимировна"></i>Рудько Елена Владимировна</li>
    <li class="ui-state-default"><i class="seating-quest-icon icon-user" data-guest="Рудько Сергей Петрович"></i>Рудько Сергей Петрович</li>
</ul>