<div ng-controller="TodosCtrl">
  <form class="form-horizontal">
    <input type="text" ng-model="addTodoText"/>
    <button ng-click="addTodo()">Добавить задачу</button>
  </form>
  <ul ng-repeat="item in items">
    <li>
      <input type="checkbox" ng-checked="item.done"/>
      {{ item.description }}
      <button ng-click="removeTodo(item.id)">Удалить</button>
    </li>
  </ul>
</div>