<tr>
  <td model-attr="done">
    <input type="checkbox" <%= 'checked=checked' if check_item.done? %> />
  </td>

  <td model-attr="description">
    <p class="editable-text"><%= check_item.description %></p>
    <input class="hidden expenditure_description" type="text" placeholder="Введите описание" value="<%= check_item.description %>"/>

    <%= link_to raw('<i rel="tooltip" title="Удалить" class="icon-remove"></i>'), checklist_path(check_item), method: :delete, remote: true,
                confirm: 'Вы уверены, что хотите удалить задание?' %>
  </td>
</tr>