<h1>Список дел</h1>

<% if @check_items.any? %>
    <table id="check_items" class="common_table">
      <thead>
      <tr>
        <th class=""><%= sortable 'done', 'Выполнено?' %></th>
        <th class=""><%= sortable 'description', 'Описание' %></th>
      </tr>
      </thead>
      <tbody>
        <%= render collection: @check_items, partial: '/checklist/check_item' %>
      </tbody>
    </table>
<% end %>

<%= link_to 'Добавить', checklist_index_path, remote: true, class: 'btn btn-success', method: :post %>