/*
Generic Styling, for Desktops/Laptops
*/

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}











@include mediaMobile  {

/* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

/* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 0; }

  td {
    /* Behave  like a "row" */
    display: inline;
    border: 0;
    //border: none;
    //position: relative;
    //padding-left: 50%;
    p {
      display: inline;
    }
  }
}