@mixin functionBlock() {
  display: block;
  @include border-radius($baseBorderRadius);
  border: $defaultGrayBorder;
  text-align: center;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 50px;
  @include box-sizing(border-box);
  cursor: pointer;
  &:nth-child(3n+1) {
    margin-right: 0;
  }
}