/*Fonts*/
$PTSansNarrowFamily: 62.5%/1.5 "PTSansNarrowRegular","Arial","Helvetica","sans-serif";

$defaultPink: #eec3bd;
$defaultDarkPink: #a67e74;
$defaultLightGray: #f4f0f1;
$defaultGray: #bdb8b2;
$defaultDarkGray: #2b2c27;
$inputHeight: 20px;
$baseBorderRadius: 1px;

$inputHeight: 10px;

$defaultGrayBorder: 1px solid #DFDFDF;