<footer>
  <div class="container">
    <p>© 2012 SVADBER</p>
    <ul class="footer-links">
      <li><a href="/information">Справка</a></li>
      <li><a href="/feedback">Обратная связь</a></li>
      <li><a href="/advertisement">Реклама</a></li>
      <li><a href="/newFeatures">Новые функции</a></li>
    </ul>
  </div>
</footer>